<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="block" (click)="form1()" class="ion-padding-top ion-margin-horizontal">Formulário 1</ion-button>
  <ion-button expand="block" (click)="form2()" class="ion-padding-top ion-margin-horizontal">Formulário 2</ion-button>
  <ion-button expand="block" (click)="visualizarDados()" class="ion-padding-top ion-margin-horizontal">Visualizar Cadastros</ion-button>
</ion-content>
